.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
    width:auto ;
}


.btn {
  
 
    background-color: #0066ff;
    color: #fff;
    border: 0;
    padding: 10px 26px;
    border-radius: 24px;
    cursor: pointer;
}
.btn:hover {
    
background-color: black;
}